#Characters {
    .SideNavbar {
        font-family: "Futura", sans-serif;
        font-style: italic;
        font-size: 2em;
        color: white;
        margin-top: 3em;
        margin-left: 3em;
    }
    .SidebarText_Allmight {
        color: white;
        transition: 0.5s;
        font-size: 1em;
        &:hover {
            background-image: url("../images/allmight_c.jpeg");
            font-size: 1.4em;
        }
    }
    .SidebarText_Deku {
        color: white;
        transition: 0.5s;
        font-size: 1em;
        &:hover {
            background-image: url("../images/deku_sm_c.png");
            font-size: 1.4em;
        }
    }
    .SidebarText_Bokugo {
        color: white;
        transition: 0.5s;
        font-size: 1em;
        &:hover {
            background-image: url("../images/Bokugo_sm_c.jpeg");
            font-size: 1.4em;
        }
    }
    .SidebarText_Shoto {
        color: white;
        transition: 0.5s;
        font-size: 1em;
        &:hover {
            background-image: url("../images/Shoto_sm_c.png");
            font-size: 1.4em;
        }
    }
    .SidebarText_Uraraka {
        color: white;
        transition: 0.5s;
        font-size: 1em;
        &:hover {
            background-image: url("../images/Uraraka_sm_c.jpeg");
            font-size: 1.4em;
        }
    }
    .SidebarText_Iida {
        color: white;
        transition: 0.5s;
        font-size: 1em;
        &:hover {
            background-image: url("../images/Iida_sm_c.jpeg");
            font-size: 1.4em;
        }
    }
    .sizing {
        height: 100%;
        width: 100vw;
    }
    .repos {
        height: 50vh;
        width: 30vw;
        margin-left: 27em;
        margin-top: -16em;
    }
    p {
        font-family: "Futura", sans-serif;
        margin-left: 15em;
        color: white;
        height: 20vh;
        width: 40vw;
    }
    .dark_gradient_btm {
        background-image: linear-gradient(to top, black, transparent);
    }
    .font_colour {
        color: #F2DC43;
    }
    .font_colour_deku {
        color: #16564B;
    }
    .font_colour_bokugo {
        color: #AD443C;
    }
    .font_colour_shoto1 {
        color: deepskyblue;
    }
    .font_colour_shoto2 {
        color: firebrick;
    }
    .font_colour_uraraka {
        color: #A23760;
    }
    .font_colour_iida {
        color: #87FFFE;
    }
}
#Allmight {
    a {
        font-family: "Futura", sans-serif;
        font-style: italic;
        color: white;
        font-size: 2em;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            bottom: 30%;
            position: absolute;
            background: #F2DC43;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    .col {
        padding: 2rem;
        text-align: center;
    }
}
#Deku {
    a {
        font-family: "Futura", sans-serif;
        font-style: italic;
        color: white;
        font-size: 2em;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            bottom: 30%;
            position: absolute;
            background: #16564B;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    .col {
        padding: 2rem;
        text-align: center;
    }
}
#Bokugo {
    a {
        font-family: "Futura", sans-serif;
        font-style: italic;
        color: white;
        font-size: 2em;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            bottom: 30%;
            position: absolute;
            background: #AD443C;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    .col {
        padding: 2rem;
        text-align: center;
    }
}
#Shoto {
    a {
        font-family: "Futura", sans-serif;
        font-style: italic;
        color: white;
        font-size: 2em;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            bottom: 30%;
            position: absolute;
            background: -webkit-linear-gradient(left, rgba(178,34,34 ,1 ) 0%, rgba(0,191,255 ,1 ) 100%);
            background: linear-gradient(to right, rgba(178,34,34 ,1 ) 0%, rgba(0,191,255 ,1 ) 100%);
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    .col {
        padding: 2rem;
        text-align: center;
    }
}
#Uraraka {
    a {
        font-family: "Futura", sans-serif;
        font-style: italic;
        color: white;
        font-size: 2em;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            bottom: 30%;
            position: absolute;
            background: #A23760;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    .col {
        padding: 2rem;
        text-align: center;
    }
}
#Iida {
    a {
        font-family: "Futura", sans-serif;
        font-style: italic;
        color: white;
        font-size: 2em;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            bottom: 30%;
            position: absolute;
            background: #87FFFE;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    .col {
        padding: 2rem;
        text-align: center;
    }
}
