body {
    background-color: black !important;
}
#Landing {
    p {
        font-family: "Futura", sans-serif;
        margin-left: 15em;
        color: white;
        height: 20vh;
        width: 40vw;
    }
    .sizing {
        height:100%;
        width:100%;
    }
    .sizing_plot {
        max-height: 80vh;
        max-width: 80vw;
    }
    .sizing_bg {
        padding-left: 4rem;
        height: 100%;
        width: 100%;
    }
    h1 {
        font-family: "Futura", sans-serif;
        color: white;
    }
    .yellow_hr {
        border-top: 3px dotted #F2DC43;
    }
    .red_hr {
        border-top: 3px dotted #ED1F24;
    }
    .dark_gradient_top {
        background-image: linear-gradient(to top, black, transparent);
    }
    .dark_gradient_btm {
        background-image: linear-gradient(to bottom, black, transparent);
    }
    .repos {
        margin-left: 15em;
    }
    .weightBold {
        font-weight: bold;
        font-size: 1.2em;
    }
}
