#Media_m {
    .sizing_bg {
        height: 100%;
        width: 100vw;
    }
    .dark_gradient_btm {
        background-image: linear-gradient(to top, black, transparent);
    }
    h1 {
        font-family: "Futura", sans-serif;
        color: white;
        font-size: 1.5em;
    }
    .yellow_hr {
        border-top: 3px dotted #F2DC43;
    }
    .red_hr {
        border-top: 3px dotted #ED1F24;
    }
}
