#TopNavBar a {
    font-family: "Futura", sans-serif;
    font-style: italic;
    color: white;
    font-size: 2em;
}

#TopNavBar .col {
    padding: 2rem;
    text-align: center;
}



#TopNavBar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    bottom: 30%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}



#TopNavBar a:hover:after {
    width: 100%;
    left: 0;
}
